@keyframes flash {
    0% {
        background-image: linear-gradient(white,white);
    }
    100% {
        background-image: linear-gradient(white,white);

    }
} 

@keyframes buttonsLine {
    0% {
        width: 0rem;
    }
    50% {
        width: 3rem;
    }
    100% {
        width: 0rem;
    }
}

@keyframes pictureZoom {
    0% {
        background-size: 140%;
    }
    50% {
        background-size: 150%;
    }
    100% {
        background-size: 140%;
    }
}