*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: white;
  height: 100%;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.8rem; }

.root,
.app {
  position: relative;
  height: 100%; }

.grid {
  display: grid;
  grid-template-rows: 3rem 10rem auto auto;
  grid-template-columns: repeat(18, 1fr) 4.5rem; }
  @media only screen and (max-width: 48rem) {
    .grid {
      grid-template-columns: repeat(18, 1fr); } }

.pageBuilding {
  grid-column: 1/19;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 400%;
  color: chartreuse; }

.navigation {
  grid-column: 1/20;
  grid-row: 1/5; }

.blackNavigation {
  position: fixed;
  right: -15.5rem;
  height: -webkit-fill-available;
  width: 20rem;
  background-color: black;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  grid-column: 19/20;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10; }
  @media only screen and (max-width: 48rem) {
    .blackNavigation {
      height: 4rem;
      grid-column: 1/19;
      width: 100%;
      left: 0;
      bottom: 0; } }

@media only screen and (max-width: 48rem) {
  .blackList {
    display: flex;
    justify-content: space-between;
    flex-direction: row; } }

.blackList-item {
  background-color: black;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  word-wrap: inherit;
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  transition: 0.5s; }
  @media only screen and (max-width: 48rem) {
    .blackList-item {
      height: 4rem;
      justify-content: center;
      border-right: 1px solid white;
      border-bottom: 0; } }
  .blackList-item:first-child {
    border-top: 1px solid white; }
    @media only screen and (max-width: 48rem) {
      .blackList-item:first-child {
        border-top: 0; } }
  .blackList-item:hover {
    position: relative;
    right: 15rem; }
    @media only screen and (max-width: 48rem) {
      .blackList-item:hover {
        right: 0; } }

.blackList-icon {
  font-size: 130%; }

.blackList-text {
  padding-left: 1.5rem;
  font-size: 70%; }
  @media only screen and (max-width: 48rem) {
    .blackList-text {
      display: none; } }

.mainNavigation {
  position: sticky;
  background-color: white;
  top: 0rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem 0 7rem;
  grid-column: 1/19;
  grid-row: 2/3;
  border-top: 1px solid ghostwhite;
  border-bottom: 1px solid ghostwhite;
  z-index: 10; }
  @media only screen and (max-width: 56.25rem) {
    .mainNavigation {
      padding: 0 5rem 0 5rem; } }
  @media only screen and (max-width: 30rem) {
    .mainNavigation {
      padding: 0 3rem 0 3rem; } }

.mainNavLogo {
  display: grid;
  width: 20rem;
  height: 100%;
  background-image: url("img/lexus-logo.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  grid-auto-columns: 2/6; }

.mainList {
  list-style-type: none;
  display: flex;
  cursor: pointer; }
  .mainList a {
    text-decoration: none; }
  .mainList :hover {
    border-bottom: 1px solid whitesmoke; }
  @media only screen and (max-width: 56.25rem) {
    .mainList {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      justify-content: center;
      background-color: white;
      flex-direction: column;
      align-items: center;
      display: none; } }
  .mainList-name {
    font-weight: 100;
    margin: 0 1rem 0 1rem;
    text-align: center; }
    @media only screen and (max-width: 56.25rem) {
      .mainList-name {
        width: auto; } }
  .mainList__active {
    border-bottom: 1px solid currentColor;
    font-weight: 400;
    color: #343434; }

.showMenu {
  display: flex; }

.mainNavUser {
  display: flex;
  justify-content: space-between;
  width: 7rem;
  cursor: pointer; }
  @media only screen and (max-width: 56.25rem) {
    .mainNavUser {
      width: 10rem; } }
  .mainNavUser__icon {
    width: 2rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; }
    .mainNavUser__icon-mobile {
      display: none;
      z-index: 11; }
      @media only screen and (max-width: 56.25rem) {
        .mainNavUser__icon-mobile {
          display: block; } }

.smallTopNav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/19;
  padding-right: 7rem;
  z-index: 10; }
  @media only screen and (max-width: 56.25rem) {
    .smallTopNav {
      padding-right: 5rem; } }
  @media only screen and (max-width: 30rem) {
    .smallTopNav {
      padding-right: 3rem;
      font-size: 70%; } }

.smallList {
  list-style-type: none;
  display: flex;
  font-size: 80%; }
  .smallList-name {
    font-weight: 200;
    margin: 0 1rem 0 1rem;
    text-align: end; }
    .smallList-name:last-child {
      margin: 0 0 0 1rem; }
  .smallList__active {
    font-weight: 400; }

.carModels {
  margin: 5rem 7rem 5rem 7rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/19;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  transition: 1s; }
  @media only screen and (max-width: 56.25rem) {
    .carModels {
      grid-template-columns: repeat(2, 1fr);
      margin: 5rem 5rem 10rem 5rem; } }
  @media only screen and (max-width: 30rem) {
    .carModels {
      grid-template-columns: 1fr;
      margin: 5rem 3rem 10rem 3rem; } }

.carCard {
  justify-self: stretch;
  display: flex;
  flex-direction: column; }
  .carCard__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid whitesmoke; }
    .carCard__header-name {
      font-size: 250%;
      font-weight: 700; }
    .carCard__header-price {
      font-size: 80%;
      font-weight: 100; }
  .carCard__headerSmall {
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 600; }
  .carCard__picture {
    width: 80%;
    display: inline-block;
    padding: 2rem 0 2rem 0;
    width: 100%; }
  .carCard__headerEngine {
    font-size: 70%;
    font-weight: 600; }

.footer {
  width: 100%;
  grid-column: 1/19;
  padding: 3rem 7rem 5rem 7rem;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid lightblue;
  margin-bottom: 2rem; }

.lexus {
  margin-top: 5rem;
  font-size: 50%;
  text-align: center; }

.footerList {
  border-top: 1px solid whitesmoke;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between; }
  .footerList__container {
    width: 75%;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25rem) {
      .footerList__container {
        width: 100%; } }
    @media only screen and (max-width: 48rem) {
      .footerList__container {
        flex-direction: column; } }
  @media only screen and (max-width: 56.25rem) {
    .footerList {
      flex-direction: column; } }
  @media only screen and (max-width: 30rem) {
    .footerList {
      flex-direction: column-reverse; } }

.listFooter__header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 80%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .listFooter__header-icon {
    display: none;
    color: grey; }
    @media only screen and (max-width: 48rem) {
      .listFooter__header-icon {
        display: block; } }
  @media only screen and (max-width: 48rem) {
    .listFooter__header {
      padding-top: 1rem;
      width: 100%;
      border-bottom: 1px solid whitesmoke;
      cursor: pointer; } }

.listFooter__list {
  list-style: none;
  font-size: 80%;
  font-weight: 100;
  cursor: pointer; }
  @media only screen and (max-width: 48rem) {
    .listFooter__list {
      display: none; } }
  .listFooter__list-item {
    padding: 0.5rem 0 0.5rem 0; }
    .listFooter__list-item:hover {
      border-bottom: 1px solid lightgray; }

.listFooter .showList {
  display: block; }

.socialMedia {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  cursor: pointer; }
  @media only screen and (max-width: 56.25rem) {
    .socialMedia {
      padding-top: 5rem; } }
  @media only screen and (max-width: 30rem) {
    .socialMedia {
      padding: 0;
      align-self: center;
      padding-bottom: 5rem; } }

@media only screen and (max-width: 48rem) {
  .discoverLexus .contactList .myLexus {
    width: 100%; } }

@media only screen and (max-width: 30rem) {
  .discoverLexus .contactList .myLexus {
    font-size: 80%; } }

.testDrive {
  width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-bottom: 3rem; }
  .testDrive__header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem; }
  .testDrive__btn {
    background-color: transparent;
    border: 1px solid lightgray;
    text-align: start;
    padding: 1rem 3rem 1rem 3rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .testDrive__icon {
    display: inline-block;
    width: 2rem;
    height: 1px;
    background-color: black; }

.offer {
  width: 100%;
  grid-column: 1/19;
  height: 100%; }

.specialOffer {
  padding: 2rem 0 2rem 0;
  grid-column: 1/20;
  display: grid;
  min-height: 80vh;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: 5rem auto 5rem; }

.offerInformation {
  grid-column: 3/9;
  grid-row: 2/3;
  background-color: white;
  z-index: 1;
  padding: 5rem 5rem 5rem 0;
  display: flex;
  flex-direction: column;
  align-self: center; }
  @media only screen and (max-width: 56.25rem) {
    .offerInformation {
      grid-column: 2/18;
      grid-row: 3/4;
      align-self: flex-start;
      padding: 10% 15%; } }
  .offerInformation h4 {
    text-transform: uppercase;
    padding-bottom: 1rem; }
  .offerInformation h2 {
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem 0;
    letter-spacing: .5rem; }
  .offerInformation p {
    font-size: 80%;
    font-weight: 100;
    padding-top: 1rem; }
    .offerInformation p :last-child {
      padding: 0; }

.offerPicture {
  height: 100%;
  grid-column: 7/18;
  grid-row: 1/4;
  background-image: url("./img/offer/background.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 56.25rem) {
    .offerPicture {
      grid-column: 1/19; } }

.standardOffer {
  width: 100%;
  height: 100%; }

.offerButton {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem; }

.btn {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  justify-content: space-between; }
  .btn__span {
    background-color: white; }
  .btn__price {
    background-color: black;
    color: white;
    font-weight: 400;
    text-transform: uppercase; }
  .btn__plus {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    font-size: 250%;
    font-weight: 100;
    color: white;
    line-height: 2.5rem; }

.offerPhoto {
  width: 100%;
  height: 100%;
  display: flex; }
  @media only screen and (max-width: 56.25rem) {
    .offerPhoto {
      flex-direction: column; } }
  .offerPhoto .carBackground {
    width: 33.333%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 56.25rem) {
      .offerPhoto .carBackground {
        width: 100%;
        height: 40vh;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem 0 2rem; } }
    .offerPhoto .carBackground__RX {
      background-image: url("/img/offer/offer1.jpg"); }
    .offerPhoto .carBackground__UX {
      background-image: url("/img/offer/offer2.jpg"); }
    .offerPhoto .carBackground__NX {
      background-image: url("/img/offer/offer3.jpg"); }
    .offerPhoto .carBackground:hover {
      width: 40%; }
      @media only screen and (max-width: 56.25rem) {
        .offerPhoto .carBackground:hover {
          width: 100%; } }

.carText {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 56.25rem) {
    .carText {
      align-items: flex-start; } }

.carName,
.carPrice {
  color: white; }
